.destination {
	&-content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
		margin-bottom: 80px;

		@media only screen and (max-width: $max-xl) {
			justify-content: center;
			margin-bottom: 40px;
		}

		&.image-right {
			flex-direction: row-reverse;
		}

		&.no-image {
			display: block;

			.destination-content__text {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
}