// FAQ Page Styles
.section--faq {
    margin: 250px 0 160px;
    background-color: #f9f9f9; // Light background for contrast

    @media (max-width: $max-md) {
        margin: 200px 0;
    }

    .faq-header {
        text-align: center;
        margin-bottom: 60px;

        .faq-title {
            font-size: 90px;
            line-height: 1.1;
            color: #0f1832;
            @media (max-width: $max-md) {
                font-size: 26px;
            }

        }

        .faq-subtitle {
            font-size: 44px;
            color: rgba(15, 24, 50, 0.7);
            line-height: 1.2;
            @media (max-width: $max-md) {
                font-size: 20px;
                br{
                    display: none;
                }
            }
        }
    }

    .faq-items {
        max-width: 800px;
        margin: 0 auto;

        .faq-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 20px 0;

            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            .faq-question {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                background: #0f1832;
                border: none;
                cursor: pointer;
                font-size: 18px;
                color: #fff;
                transition: background 0.3s ease;

                // &:hover {
                //     background: #eaeaea; // Light hover effect
                // }

                .icon-arrow {
                    transition: transform 0.3s ease;
                }

                &[aria-expanded="true"] {
                    .icon-arrow {
                        transform: rotate(180deg);
                    }
                }
            }

            .faq-answer {
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease;

                &__content {
                    padding: 16px 0;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 16px;
                    line-height: 1.5;

                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}