/* ==========================================================================
   PSDGator SCSS Styles [PARTIALS:GUTENBERG]
   ========================================================================== */

/* This is global in order to work also in Dashboard */
// .wp-site-blocks > .wp-block-group,
// .block-editor-block-list__layout.is-root-container > .wp-block-group {
// 	padding: 90px 0;

// 	@media screen and (max-width: $max-lg) {
// 		padding: 50px 0;
// 	}
// }

//Just testing - not sure...
.wp-block-columns {
	margin-bottom: 0;
}

/* In mobile when columns stack I add a bit of margin-bottom */
@media screen and (max-width: $max-md) {
	.wp-block-column > * {
		margin-bottom: var(--container-pad);
	}
}

.wp-block-group.alignfull,
.wp-block-group.alignfull.has-background,
.editor-styles-wrapper .wp-block[data-align="full"] > .wp-block-group,
.wp-block-cover.alignfull,
.wp-block-group.alignwide,
.editor-styles-wrapper .wp-block[data-align="wide"] > .wp-block-group,
.editor-styles-wrapper .wp-block[data-align="full"] > .wp-block-cover {
	padding: 90px var(--container-pad);

	@media screen and (max-width: $max-lg) {
		padding: 50px var(--container-pad);
	}
}

/* This works only in frontend */
.wp-site-blocks {
	padding: 90px var(--container-pad);

	@media screen and (max-width: $max-lg) {
		padding: 50px var(--container-pad);
	}

	& > .wp-block-group:first-child,
	& > .wp-block-cover:first-child,
	& > .wp-block-cover.alignfull:first-child {
		margin-top: -90px !important;

		@media screen and (max-width: $max-lg) {
			margin-top: -50px !important;
		}
	}

	& > .wp-block-group:last-child,
	& > .wp-block-cover:last-child,
	& > .wp-block-cover.alignfull:last-child {
		margin-bottom: -90px !important;

		@media screen and (max-width: $max-lg) {
			margin-bottom: -50px !important;
		}
	}

	& > *,
	& > blockquote {
		max-width: calc(var(--container-width) - (var(--container-pad) * 2));
		max-width: calc(var(--container-width));
		margin-left: auto !important;
		margin-right: auto !important;
	}
	& > section {
		max-width: 100%;
		width: 100%;
	}

	.alignfull,
	.wp-block-cover.alignfull {
		max-width: none;
		margin: 0 calc(-1 * var(--container-pad)) !important;
		width: auto;

		& > .wp-block-group__inner-container,
		& > .wp-block-cover__inner-container {
			max-width: calc(var(--container-width) - (var(--container-pad) * 2));
			margin-left: auto !important;
			margin-right: auto !important;
			width: 100%;
		}
	}

	.alignwide {
		max-width: none;
		margin: 0 calc(-1 * var(--container-pad)) !important;
		width: auto;
	}

	.wp-block-group__inner-container .wp-block-group__inner-container {
		display: contents;
	}
}
.wp-site-blocks > h1,
.wp-site-blocks > h2,
.wp-site-blocks > h3,
.wp-site-blocks > h4,
.wp-site-blocks > h5,
.wp-site-blocks > h6,
.wp-site-blocks > p,
.wp-site-blocks > ul,
.wp-site-blocks > span,
.wp-site-blocks > .block-faq,
.wp-site-blocks > .gallery,
.wp-site-blocks > .wp-block-table,
.wp-site-blocks > .lob,
.wp-site-blocks > .block-note {
    padding: 0 var(--container-pad);
}
/* This works only in Dashboard */
.editor-styles-wrapper
	.block-editor-block-list__layout.is-root-container
	> .block-editor-block-list__block {
	max-width: calc(
		var(--container-width) - (var(--container-pad) * 2)
	) !important;
	margin-left: auto !important;
	margin-right: auto !important;

	&.alignfull {
		max-width: none !important;

		> * {
			max-width: calc(
				var(--container-width) - (var(--container-pad) * 2)
			) !important;
			margin-left: auto !important;
			margin-right: auto !important;
			width: 100% !important;
		}

		&.wp-block-cover {
			> .wp-block-cover__background,
			> .wp-block-cover__image-background {
				max-width: none !important;
			}
		}
	}

	&.alignwide {
		max-width: none !important;
		width: auto !important;
	}
}

// 20220623 - Commented because the selectors are not valid anymore
// .editor-styles-wrapper
// 	.block-editor-block-list__layout.is-root-container
// 	> [data-align="full"]
// 	> div
// 	> *:not(.wp-block-cover__gradient-background, .wp-block-cover__image-background) {
// 	max-width: calc(var(--container-width) - (var(--container-pad) * 2));
// 	margin-left: auto !important;
// 	margin-right: auto !important;
// }

.editor-styles-wrapper
	.block-editor-block-list__layout.is-root-container
	> [data-align="wide"] {
	max-width: none !important;
	margin: 0 !important;
	width: auto;
}

.wp-block-group .wp-block-poka-box-text {
	height: calc(100% - 20px);
	margin-bottom: 20px;
}


.wp-block-group:where(.has-background) {
	padding: initial;
}
.wp-block-separator {
	opacity: 1;
	&.has-background.is-thick-line:not(.is-style-dots) {
		height: 4px;
	}
}

.editor-styles-wrapper {
	ul.wp-block-list {
		list-style: none;
		padding-left: rem(30px);
		font-size: rem(16px);
		line-height: rem(21px);
		font-weight: 400;

		li {
			position: relative;
			margin-bottom: rem(15px);
			color: inherit;

			ol,
			ul {
				margin-top: rem(20px);
			}

			strong {
				font-weight: 700;
			}
		}

		> li {
			&::before {
				content: "l";
				position: absolute;
				color: var(--main-color);
				left: rem(-30px);
				top: 3px;
				font-style: normal !important;
				font-weight: 400 !important;
				font-variant: normal !important;
				text-transform: none !important;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		&.list-star-o > li::before {
			content: "i";
		}
		&.list-star > li::before {
			content: "j";
		}
		&.list-arrow-right > li::before {
			content: "k";
		}
		&.list-play > li::before {
			content: "l";
		}
		&.list-circle-check > li::before {
			content: "n";
		}
		&.list-star-line > li::before {
			content: "q";
		}
		&.list-list > li::before {
			content: "s";
		}
		&.list-angle-right > li::before {
			content: "v";
		}

		&.list-columns {
			display: flex;
			flex-wrap: wrap;

			& > li {
				flex-basis: 33%;

				@media screen and (max-width: $max-md) {
					flex-basis: 50%;
				}

				@media screen and (max-width: $max-sm) {
					flex-basis: 100%;
				}
			}
		}

		&.list-check {
			li {
				&:before {
					content: "n";
				}
			}
		}
	}

	ol {
		list-style-position: inside;
		padding-left: rem(30px);

		li {
			position: relative;
			margin-bottom: rem(15px);
			line-height: 1.4;
			color: inherit;

			ol,
			ul {
				margin-top: rem(20px);
			}

			strong {
				font-weight: 700;
			}
		}

		> li {
			margin-left: -30px;

			> ol,
			ul {
				margin-left: 30px;
			}
		}
	}
}
.wp-block-group {
	&.row {
		gap: 0;
	}
	&.is-nowrap {
		width: 100%;
    	gap: 0;
	}
	&.is-vertical {

	}
	&.is-layout-flex {
		flex-wrap: nowrap;
	}
}